footer{
    width: 100%;
    box-shadow: 0px -8px 20px -1px rgba(62,62,62,0.5);
}

.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-social{
    display: flex;
    align-items: center;
}

.footer-social p{
    margin: 0px 10px 0px 0px;
}

.footer-social-icons svg{
    cursor: pointer;
    transition: 0.5s;
}

.footer-social-icons svg:hover{
    fill: var(--primary-color);
}

.footer-react{
    margin:0px;
    text-align: center;
}

.footer-text a{
    color: var(--tertiary-color);
}

@media(max-width:768px){
    .footer-container{
        flex-direction: column;
        justify-content: center;
    }
}