.main-home-section{
    display: flex;
    flex-direction: column;
    background: url('../../assets/Perspectiva.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}