.btn-primary{
    background: var(--primary-color);
    outline: none;
    border: none;
    transition:0.5s;
    border-radius: 0px;
}

.btn-primary:hover{
    background: var(--secondary-color);
    transform: scale(1.15);
    transition:0.5s;
}


.btn-primary:active,
.btn-primary:focus {
    background: var(--primary-color);
    box-shadow: none;
}